Repository fga-eps-mds/2018.2-FGAPP-FrontEnd, pull requests merged in 2018-11, with the labels that each got.

#79 Indica ai app/262 save data api - Cadastro de um local por formulário
  mobile/screens/tab_navigator/indica_ai/components/LocalDetails.js
  mobile/screens/tab_navigator/indica_ai/components/RegisterAPIForm.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
  mobile/screens/tab_navigator/indica_ai/screens/register_local/RegisterAPIScreen.js
Labels: PR-indica-ai

#81 Indica ai app/63 local favorite - Container de favoritar local
  mobile/package.json
  mobile/screens/tab_navigator/indica_ai/assets/heart-outline.png
  mobile/screens/tab_navigator/indica_ai/assets/heart-outline@2x.png
  mobile/screens/tab_navigator/indica_ai/assets/heart-outline@3x.png
  mobile/screens/tab_navigator/indica_ai/assets/heart.png
  mobile/screens/tab_navigator/indica_ai/assets/heart@2x.png
  mobile/screens/tab_navigator/indica_ai/assets/heart@3x.png
  mobile/screens/tab_navigator/indica_ai/components/FavoriteIcon.js
  mobile/screens/tab_navigator/indica_ai/containers/FavoriteContainer.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#83 Indica ai app/217 show place informations
  mobile/screens/tab_navigator/indica_ai/components/LocalMap.js
  mobile/screens/tab_navigator/indica_ai/components/OpeningHoursPanel.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#84 Indica ai app/157 method register local
  mobile/screens/tab_navigator/indica_ai/components/ErrorModal.js
  mobile/screens/tab_navigator/indica_ai/components/LocalDetails.js
  mobile/screens/tab_navigator/indica_ai/components/SuccessModal.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
Labels: PR-indica-ai

#88 Indica ai app/#265 upload image container
  mobile/screens/tab_navigator/indica_ai/containers/AddImages.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#91 Indica ai app/change style view local
  mobile/screens/tab_navigator/indica_ai/components/OpeningHoursPanel.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#94 Indica ai app/135 contrast publicity
  mobile/screens/tab_navigator/indica_ai/assets/fga-logo.png
  mobile/screens/tab_navigator/indica_ai/components/Local.js
  mobile/screens/tab_navigator/indica_ai/components/Publicity.js
  mobile/screens/tab_navigator/indica_ai/containers/ListLocals.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
  mobile/screens/tab_navigator/indica_ai/screens/search_local/SearchScreen.js
Labels: PR-indica-ai

#89 indica ai app:#125 Gerar Rotas
  mobile/package.json
  mobile/screens/tab_navigator/indica_ai/components/DirectionModal.js
  mobile/screens/tab_navigator/indica_ai/components/LocalDetails.js
  mobile/screens/tab_navigator/indica_ai/containers/Direction.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
  mobile/screens/tab_navigator/indica_ai/screens/register_local/RegisterAPIScreen.js
  mobile/yarn.lock
Labels: PR-indica-ai

#95 Indica ai app/261 Carregar categorias para cadastrar local
  mobile/package.json
  mobile/screens/tab_navigator/indica_ai/components/CategorySelect.js
  mobile/screens/tab_navigator/indica_ai/components/RegisterAPIForm.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
  mobile/yarn.lock
Labels: PR-indica-ai

#98 fga-eps-mds/2018.2-IndicaAi fixing bug in the modal message
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
Labels: PR-indica-ai

#87 Adding TabHandler snapshot test
  mobile/screens/__tests__/TabHandler.test.js
  mobile/screens/__tests__/__snapshots__/TabHandler.test.js.snap
Labels: PR-Vendas

#72 Notificação no almoço às 12:30
  mobile/App.tsx
Labels: Delayed, PR-Vendas

#100 Atualizando dev com features de vendas-app
  .github/LICENSE
  .travis.yml
  Makefile
  api-mock/.env
  mobile/.gitignore
  mobile/.package.json.swp
  mobile/App.tsx
  mobile/Dockerfile
  mobile/app.json
  mobile/assets/IntegraApps_icon.png
  mobile/config/app-development.json
  mobile/config/app-production.json
  mobile/env.mock-reference
  mobile/icon.png
  mobile/package.json
  mobile/screens/LoginScreen.js
  mobile/screens/SignUpScreen.js
  mobile/screens/TabHandler.js
  mobile/screens/WelcomeScreen.js
  mobile/screens/__tests__/LoginScreen.test.js
  mobile/screens/__tests__/SignUpScreen.test.js
  mobile/screens/components/Field.js
  mobile/screens/components/Login.js
  mobile/screens/components/SignUp.js
  mobile/screens/components/UserCard.js
  mobile/screens/components/__mocks__/Login.js
  mobile/screens/components/__mocks__/SingUp.js
  mobile/screens/tab_navigator/settings/SettingScreen.js
  mobile/screens/tab_navigator/settings/Settings.js
  mobile/screens/tab_navigator/settings/settings/Settings.js
  mobile/screens/tab_navigator/settings/settings/UserProfile.js
  mobile/screens/tab_navigator/vendas/TabHandlerVendasApp.js
  mobile/screens/tab_navigator/vendas/components/BuyerOrderCard.js
  mobile/screens/tab_navigator/vendas/components/OfferDialog.js
  mobile/screens/tab_navigator/vendas/components/OrderCard.js
  mobile/screens/tab_navigator/vendas/components/ProductCard.js
  mobile/screens/tab_navigator/vendas/components/ProductImage.js
  mobile/screens/tab_navigator/vendas/components/styles.js
  mobile/screens/tab_navigator/vendas/screens/MyProducts.js
  mobile/screens/tab_navigator/vendas/screens/MyProductsScreen.js
  mobile/screens/tab_navigator/vendas/screens/OfferScreen.js
  mobile/screens/tab_navigator/vendas/screens/OrderScreen.js
  mobile/screens/tab_navigator/vendas/screens/OrderedProducts.js
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
  mobile/screens/tab_navigator/vendas/screens/my_products/ErrorDialog.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProductDetails.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProducts.js
  mobile/screens/tab_navigator/vendas/screens/my_products/ToogleView.js
  mobile/screens/tab_navigator/vendas/screens/offers/OfferDetails.js
  mobile/screens/tab_navigator/vendas/screens/offers/Offers.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
  mobile/setup-config.sh
  mobile/yarn.lock
Labels: Dev Update, PR-Vendas

#102 Update indica-ai/dev with official dev
  .github/LICENSE
  .travis.yml
  Makefile
  README.md
  api-mock/.env
  mobile/.gitignore
  mobile/.package.json.swp
  mobile/App.tsx
  mobile/Dockerfile
  mobile/app.json
  mobile/assets/IntegraApps_icon.png
  mobile/config/app-development.json
  mobile/config/app-production.json
  mobile/env.mock-reference
  mobile/icon.png
  mobile/package.json
  mobile/screens/LoginScreen.js
  mobile/screens/SignUpScreen.js
  mobile/screens/TabHandler.js
  mobile/screens/WelcomeScreen.js
  mobile/screens/__tests__/LoginScreen.test.js
  mobile/screens/__tests__/SignUpScreen.test.js
  mobile/screens/components/Field.js
  mobile/screens/components/Login.js
  mobile/screens/components/SignUp.js
  mobile/screens/components/UserCard.js
  mobile/screens/components/__mocks__/Login.js
  mobile/screens/components/__mocks__/SingUp.js
  mobile/screens/tab_navigator/indica_ai/IndicaAiApp.js
  mobile/screens/tab_navigator/indica_ai/TabHandlerIndicaAi.js
  mobile/screens/tab_navigator/indica_ai/screens/FavoritesTab.js
  mobile/screens/tab_navigator/indica_ai/screens/RegisterTab.js
  mobile/screens/tab_navigator/indica_ai/screens/SearchTab.js
  mobile/screens/tab_navigator/settings/SettingScreen.js
  mobile/screens/tab_navigator/settings/Settings.js
  mobile/screens/tab_navigator/settings/settings/Settings.js
  mobile/screens/tab_navigator/settings/settings/UserProfile.js
  mobile/screens/tab_navigator/vendas/TabHandlerVendasApp.js
  mobile/screens/tab_navigator/vendas/components/BuyerOrderCard.js
  mobile/screens/tab_navigator/vendas/components/OfferDialog.js
  mobile/screens/tab_navigator/vendas/components/OrderCard.js
  mobile/screens/tab_navigator/vendas/components/ProductCard.js
  mobile/screens/tab_navigator/vendas/components/ProductImage.js
  mobile/screens/tab_navigator/vendas/components/styles.js
  mobile/screens/tab_navigator/vendas/screens/MyProducts.js
  mobile/screens/tab_navigator/vendas/screens/MyProductsScreen.js
  mobile/screens/tab_navigator/vendas/screens/OfferScreen.js
  mobile/screens/tab_navigator/vendas/screens/OrderScreen.js
  mobile/screens/tab_navigator/vendas/screens/OrderedProducts.js
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
  mobile/screens/tab_navigator/vendas/screens/my_products/ErrorDialog.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProductDetails.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProducts.js
  mobile/screens/tab_navigator/vendas/screens/my_products/ToogleView.js
  mobile/screens/tab_navigator/vendas/screens/offers/OfferDetails.js
  mobile/screens/tab_navigator/vendas/screens/offers/Offers.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
  mobile/setup-config.sh
  mobile/yarn.lock
Labels: PR-indica-ai

#106 fga-eps-mds/2018.2-IndicaAi#297 - Using send image from add image at …
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#108 Fix navigation in IndicaAi module
  mobile/screens/tab_navigator/indica_ai/TabHandlerIndicaAi.js
  mobile/screens/tab_navigator/indica_ai/screens/RegisterTab.js
  mobile/screens/tab_navigator/indica_ai/screens/SearchTab.js
Labels: PR-indica-ai

#109 Indica ai app/297 image view local
  mobile/package.json
  mobile/screens/tab_navigator/indica_ai/TabHandlerIndicaAi.js
  mobile/screens/tab_navigator/indica_ai/assets/Integra.png
  mobile/screens/tab_navigator/indica_ai/containers/AddImages.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
Labels: PR-indica-ai

#110 Fix register urls to get environment variable
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
Labels: PR-indica-ai

#86 VendasApp - Upload de imagens para a CDN (Cloudinary)
  mobile/screens/tab_navigator/vendas/assets/editableIcon.png
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProductDetails.js
Labels: PR-Vendas

#111 Integra - Adição de nome no cadastro de usuário
  mobile/screens/SignUpScreen.js
  mobile/screens/__tests__/SignUpScreen.test.js
Labels: PR-Vendas

#112 Vendas app/order header
  mobile/package.json
  mobile/screens/__tests__/Vendas/Orders/OrderedProducts.test.js
  mobile/screens/__tests__/Vendas/components/OrderHeader.test.js
  mobile/screens/__tests__/Vendas/components/__snapshots__/OrderHeader.test.js.snap
  mobile/screens/tab_navigator/vendas/components/BuyerOrderCard.js
  mobile/screens/tab_navigator/vendas/components/OrderHeader.js
  mobile/screens/tab_navigator/vendas/components/styles.js
  mobile/screens/tab_navigator/vendas/screens/offers/OfferDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
  mobile/yarn.lock
Labels: PR-Vendas

#116 Vendas app/dev
  mobile/App.tsx
  mobile/package.json
  mobile/screens/SignUpScreen.js
  mobile/screens/__tests__/SignUpScreen.test.js
  mobile/screens/__tests__/TabHandler.test.js
  mobile/screens/__tests__/Vendas/Orders/OrderedProducts.test.js
  mobile/screens/__tests__/Vendas/components/OrderHeader.test.js
  mobile/screens/__tests__/Vendas/components/__snapshots__/OrderHeader.test.js.snap
  mobile/screens/__tests__/__snapshots__/TabHandler.test.js.snap
  mobile/screens/tab_navigator/vendas/assets/editableIcon.png
  mobile/screens/tab_navigator/vendas/components/BuyerOrderCard.js
  mobile/screens/tab_navigator/vendas/components/OrderHeader.js
  mobile/screens/tab_navigator/vendas/components/styles.js
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProductDetails.js
  mobile/screens/tab_navigator/vendas/screens/offers/OfferDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
  mobile/yarn.lock
Labels: Dev Update, PR-Vendas

#121 Indica ai app/257 favorite local
  mobile/screens/tab_navigator/indica_ai/containers/FavoriteContainer.js
  mobile/screens/tab_navigator/indica_ai/containers/ViewLocal.js
  mobile/screens/tab_navigator/indica_ai/screens/favorite_locals/FavoritesScreen.js
  mobile/screens/tab_navigator/indica_ai/screens/search_local/SearchScreen.js
Labels: PR-indica-ai

#119 Roles app/integration
  .expo/packager-info.json
  .expo/settings.json
  .gitignore
  mobile/app.json
  mobile/env.mock-reference
  mobile/package.json
  mobile/screens/LoginScreen.js
  mobile/screens/SignUpScreen.js
  mobile/screens/TabHandler.js
  mobile/screens/__tests__/__snapshots__/TabHandler.test.js.snap
  mobile/screens/tab_navigator/roles/Events.js
  mobile/screens/tab_navigator/roles/RolesApp.js
  mobile/screens/tab_navigator/roles/RolesTabHandler.js
  mobile/screens/tab_navigator/roles/screens/EventComments/Comments.js
  mobile/screens/tab_navigator/roles/screens/EventComments/components/CommentAnswer.js
  mobile/screens/tab_navigator/roles/screens/EventComments/components/CommentInput.js
  mobile/screens/tab_navigator/roles/screens/EventComments/components/CommentItem.js
  mobile/screens/tab_navigator/roles/screens/EventComments/components/LikeButton.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/Profile.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Avaliacao.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/CardHeader.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/CardsDetalhes.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Contato.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/DescModals.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Detalhes.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Divider.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Geral.js
  mobile/screens/tab_navigator/roles/screens/EventProfile/components/Localizacao.js
  mobile/screens/tab_navigator/roles/screens/HomeScreen.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/EventosPassados/index.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/CadastroEventos1.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/CadastroEventos2.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/CadastroInput/index.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/ImageModal/index.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/MapsModal/index.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/feed/Feed.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/feed/FeedItem.js
  mobile/screens/tab_navigator/roles/screens/TabNavigator/feed/components/LikeButton.js
  mobile/screens/tab_navigator/roles/static/adultOnly.png
  mobile/screens/tab_navigator/roles/static/banner.png
  mobile/screens/tab_navigator/roles/static/eighteen.png
  mobile/screens/tab_navigator/roles/static/logo.png
  mobile/screens/tab_navigator/roles/static/noPic.png
  mobile/screens/tab_navigator/roles/utils/helpers.js
  mobile/setup-config.sh
  mobile/yarn.lock
Labels: Dev Update, PR-Roles

#122 Indica ai app/259 list favorites container
  mobile/screens/tab_navigator/indica_ai/components/FavoriteCard.js
  mobile/screens/tab_navigator/indica_ai/containers/ListFavorites.js
  mobile/screens/tab_navigator/indica_ai/screens/FavoritesTab.js
  mobile/screens/tab_navigator/indica_ai/screens/favorite_locals/FavoritesScreen.js
Labels: PR-indica-ai

#124 Indica ai app/263 hours form
  mobile/package.json
  mobile/screens/tab_navigator/indica_ai/components/HoursSelect.js
  mobile/screens/tab_navigator/indica_ai/components/RegisterAPIForm.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
  mobile/yarn.lock
Labels: PR-indica-ai

#125 Indica ai app/257 favorite local
  mobile/screens/tab_navigator/indica_ai/actions/index.js
  mobile/screens/tab_navigator/indica_ai/components/FavoriteIcon.js
  mobile/screens/tab_navigator/indica_ai/containers/Direction.js
  mobile/screens/tab_navigator/indica_ai/containers/FavoriteContainer.js
  mobile/screens/tab_navigator/indica_ai/containers/ListFavorites.js
  mobile/screens/tab_navigator/indica_ai/containers/ListLocals.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocal.js
  mobile/screens/tab_navigator/indica_ai/containers/RegisterLocalAPI.js
  mobile/screens/tab_navigator/indica_ai/containers/searchBar.js
  mobile/screens/tab_navigator/indica_ai/reducers/favoriteReducer.js
  mobile/screens/tab_navigator/indica_ai/reducers/index.js
  mobile/screens/tab_navigator/indica_ai/screens/favorite_locals/FavoritesScreen.js
Labels: PR-indica-ai

#130 Try fix maps key in deploy
  mobile/config/app-development.json
Labels: PR-indica-ai

#126 Indica ai app/108 request favorites
  mobile/screens/tab_navigator/indica_ai/components/FavoriteCard.js
  mobile/screens/tab_navigator/indica_ai/containers/ListFavorites.js
  mobile/screens/tab_navigator/indica_ai/screens/FavoritesTab.js
  mobile/screens/tab_navigator/indica_ai/screens/favorite_locals/FavoriteDetailsScreen.js
Labels: PR-indica-ai

#101 Vendas app/test order
  mobile/screens/__tests__/Vendas/Offers/__snapshots__/OfferDetails.test.js.snap
  mobile/screens/__tests__/Vendas/Orders/OrderDetails.test.js
  mobile/screens/__tests__/Vendas/Orders/__snapshots__/OrderDetails.test.js.snap
  mobile/screens/__tests__/Vendas/components/__snapshots__/OfferDialog.test.js.snap
  mobile/screens/tab_navigator/vendas/components/OfferDialog.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
Labels: Delayed, PR-Vendas

#90 Usuário se mantém logado
  mobile/App.tsx
  mobile/AuthMethods.js
  mobile/Routes.js
  mobile/screens/LoginScreen.js
  mobile/screens/TabHandler.js
  mobile/screens/__tests__/Vendas/MyProducts/CreateProduct.test.js
  mobile/screens/__tests__/Vendas/MyProducts/MyProducts.test.js
  mobile/screens/__tests__/Vendas/Offers/OfferDetails.test.js
  mobile/screens/__tests__/Vendas/Offers/__snapshots__/Offers.test.js.snap
  mobile/screens/__tests__/Vendas/Orders/OrderDetails.test.js
  mobile/screens/__tests__/Vendas/Orders/OrderedProducts.test.js
  mobile/screens/tab_navigator/settings/settings/Settings.js
  mobile/screens/tab_navigator/settings/settings/UserProfile.js
  mobile/screens/tab_navigator/vendas/TabHandlerVendasApp.js
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProductDetails.js
  mobile/screens/tab_navigator/vendas/screens/my_products/MyProducts.js
  mobile/screens/tab_navigator/vendas/screens/offers/OfferDetails.js
  mobile/screens/tab_navigator/vendas/screens/offers/Offers.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderDetails.js
  mobile/screens/tab_navigator/vendas/screens/orders/OrderedProducts.js
Labels: Delayed, PR-Vendas, Priority

#104 Vendas app/test settings
  mobile/env-config.js
  mobile/package.json
  mobile/screens/__tests__/Settings/Settings.test.js
  mobile/screens/__tests__/Settings/UserCard.test.js
  mobile/screens/__tests__/Settings/UserProfile.test.js
  mobile/screens/__tests__/Settings/__snapshots__/Settings.test.js.snap
  mobile/screens/__tests__/Settings/__snapshots__/UserCard.test.js.snap
  mobile/screens/__tests__/Settings/__snapshots__/UserProfile.test.js.snap
  mobile/screens/components/UserCard.js
  mobile/screens/tab_navigator/settings/settings/UserProfile.js
  mobile/yarn.lock
Labels: Delayed, PR-Vendas

#140 Indica ai app/293 perform tests on search screen
  mobile/screens/tab_navigator/indica_ai/__tests__/ButtonWithIcon.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/DirectionModal.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/ErrorModal.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/FavoriteIcon.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/IconMessage.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/ImageModal.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/SearchBar.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/SuccessModal.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/WarningModal.test.js
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/ButtonWithIcon.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/DirectionModal.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/ErrorModal.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/FavoriteIcon.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/IconMessage.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/ImageModal.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/SuccessModal.test.js.snap
  mobile/screens/tab_navigator/indica_ai/__tests__/__snapshots__/WarningModal.test.js.snap
Labels: PR-indica-ai

#138 Vendas app - Correção dos botões na tela de login
  mobile/screens/LoginScreen.js
  mobile/screens/SignUpScreen.js
  mobile/screens/__tests__/LoginScreen.test.js
  mobile/screens/__tests__/SignUpScreen.test.js
Labels: PR-Vendas

#136 Bugfix-Favorite Container
  mobile/screens/tab_navigator/indica_ai/components/UserLocationMap.js
  mobile/screens/tab_navigator/indica_ai/containers/FavoriteContainer.js
  mobile/screens/tab_navigator/indica_ai/containers/ListFavorites.js
  mobile/screens/tab_navigator/indica_ai/containers/ListLocals.js
Labels: PR-indica-ai

#147 Fix/app bar
  mobile/screens/TabHandler.js
  mobile/screens/__tests__/__snapshots__/TabHandler.test.js.snap
  mobile/screens/tab_navigator/car_defense/CarDefenseApp.js
  mobile/screens/tab_navigator/indica_ai/TabHandlerIndicaAi.js
  mobile/screens/tab_navigator/indica_ai/containers/searchBar.js
  mobile/screens/tab_navigator/roles/RolesTabHandler.js
  mobile/screens/tab_navigator/vendas/TabHandlerVendasApp.js
  mobile/yarn.lock
Labels: PR-indica-ai

#148 Novos ajustes no mapa e na TabHandler
  mobile/screens/TabHandler.js
  mobile/screens/__tests__/__snapshots__/TabHandler.test.js.snap
  mobile/screens/tab_navigator/car_defense/CarDefenseApp.js
  mobile/screens/tab_navigator/indica_ai/TabHandlerIndicaAi.js
  mobile/screens/tab_navigator/indica_ai/components/UserLocationMap.js
  mobile/screens/tab_navigator/indica_ai/containers/FavoriteContainer.js
  mobile/screens/tab_navigator/indica_ai/containers/ListFavorites.js
  mobile/screens/tab_navigator/indica_ai/containers/ListLocals.js
  mobile/screens/tab_navigator/indica_ai/containers/searchBar.js
  mobile/screens/tab_navigator/roles/RolesTabHandler.js
  mobile/screens/tab_navigator/vendas/TabHandlerVendasApp.js
  mobile/yarn.lock
Labels: PR-indica-ai

#154 PR - Fix de tamanho dos cards no feed
  mobile/screens/tab_navigator/roles/screens/TabNavigator/feed/FeedItem.js
Labels: DevOps, PR-Roles

#157 Update Master
  mobile/screens/tab_navigator/roles/screens/TabNavigator/cadastroEventos/CadastroEventos1.js
Labels: PR-Roles

#150 Fixing Create product
  mobile/screens/tab_navigator/vendas/screens/my_products/CreateProduct.js
Labels: PR-Vendas, Priority
